<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RNGReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <RNGReporter.Properties.Settings>
      <setting name="MyState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MyLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MySize" serializeAs="String">
        <value>700, 400</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CPUs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowToolTips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DPI" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CapYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="CapOffset" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CapDelayMin" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="CapDelayMax" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ShinyYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="fYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="fMinOffset" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="fMaxOffset" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="fMinDelay" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="fMaxDelay" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="fCapYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="fCapOffset" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="fCapDelayMin" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="fCapDelayMax" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="fShinyDelayMin" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="fShinyDelayMax" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="fShinyYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="sttSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sttSecondsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sttMDelay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sttPDelay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sttMSecond" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sttPSecond" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Year" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="Month" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Date" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Hours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Seconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Wait" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YearA" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="MonthA" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DateA" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HoursA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinutesA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SIVMode" serializeAs="String">
        <value>DPP</value>
      </setting>
      <setting name="YearIVR" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="MonthIVR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DateIVR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HoursIVR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinutesIVR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DelayMinIVR" serializeAs="String">
        <value>490</value>
      </setting>
      <setting name="DelayMaxIVR" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="DelayMinA" serializeAs="String">
        <value>490</value>
      </setting>
      <setting name="DelayMaxA" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="YearS" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="MonthS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DateS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HoursS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinutesS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DelayMinS" serializeAs="String">
        <value>490</value>
      </setting>
      <setting name="DelayMaxS" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="SSMode" serializeAs="String">
        <value>DPP</value>
      </setting>
      <setting name="SIVLowDelay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileLocation" serializeAs="String">
        <value>profiles.xml</value>
      </setting>
      <setting name="LastProfile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value>11/08/2012 01:31:00</value>
      </setting>
    </RNGReporter.Properties.Settings>
  </userSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
